
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
}


h2{
  color: #3C3030;
  letter-spacing: 3px; 
  
}

.background-image{
  
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  
}

.conteudo{
  max-width: 100%;
}

.input-email{
  display: flex;
  height: 40px;
  width: 395px;
  border-radius: 8px;  
  background-color: #DADADA;
  color: #3C3030;
  font-size: 20px;
  border: none;
  letter-spacing: 3px; 

}

.input-senha{
  display: flex;
  height: 40px;
  width: 395px;
  border-radius: 8px;
  margin-top: 9px;
  margin-bottom: 57px;
  background-color: #DADADA;
  color: #3C3030;
  font-size: 20px;
  border: none;
  letter-spacing: 3px;  
}

.btn-login{
  display: flex;
  border: none;
  background-color: #3C3030;
  color: #ffff;
  border-radius: 10px;
  width: 395px;
  height: 36px; 
  margin-bottom: 11px;

  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px; 
}

.btn-registrar{
  display: flex;
  border: none;
  background-color: #3C3030;
  color: #ffff;
  border-radius: 10px;
  width: 395px;
  height: 36px; 

  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px; 
}

.forgot-password{
  color: #3C3030;
}



